/* nav start*/

.navContainer {
    margin: 5px;
}

#logo {
    width: 1.5rem;
    background-color: #ffffffdc;
    padding: 0px 3px 1px 3px;
    border-radius: 5px;
}

.headline1 {
    border: solid 1px var(--accent-color);
    display: block;
}
.headline1 a {
    color: var(--accent-color);
    background-color: #ffffff20;
    display: block;
    padding: 3px 0px 3px 0px;
}
.headline1 a:hover {
    background-color: var(--hovered-link-background-color);
    display: block;
}

.headline2 {
    border: solid 1px var(--accent-color);
    display: block;
}
.headline2 a {
    color: var(--accent-color);
    background-color: #ffffff20;
    display: block;
    padding: 3px 0px 3px 0px;
}
.headline2 a:hover {
    background-color: var(--hovered-link-background-color);
    display: block;
}

.headline3 {
    border: solid 1px var(--accent-color);
    display: block;
}
.headline3 a {
    color: var(--accent-color);
    background-color: #ffffff20;
    display: block;
    padding: 3px 0px 3px 0px;
}
.headline3 a:hover {
    background-color: var(--hovered-link-background-color);
    display: block;
}

/* nav end */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* main start */

main h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: fit-content;
    margin: auto;
}

main p {
    width: fit-content;
    margin: auto;
    padding-bottom: 2rem;
}

.episode {
    background-color: var(--episode-background-color);
    border-radius: 21px;
    border: 1px solid var(--accent-color);
}

.episodeNum {
    font-size: 22px;
    border-right: 1px solid var(--accent-color);
    padding: 0px 13px;
}

.episodeTitle h2 {
    font-size: 20px;
    padding-top: 8px;
    margin: 0;
}

.description {
    padding-bottom: 1rem;
    padding-right: 4px;
}

/* main end */
