/* nav start */
.navContainer {
  margin: 5px;
}

.headline1 {
  border: solid 1px var(--accent-color);
  display: block;
}
.headline1 a {
  color: var(--accent-color);
  background-color: #ffffff20;
  display: block;
  padding: 3px 0px 3px 0px;
}
.headline1 a:hover {
  background-color: var(--hovered-link-background-color);
  display: block;
}

.headline2 {
  border: solid 1px var(--accent-color);
  display: block;
}
.headline2 a {
  color: var(--accent-color);
  background-color: #ffffff20;
  display: block;
  padding: 3px 0px 3px 0px;
}
.headline2 a:hover {
  background-color: var(--hovered-link-background-color);
  display: block;
}

.headline3 {
  border: solid 1px var(--accent-color);
  display: block;
}
.headline3 a {
  color: var(--accent-color);
  background-color: #ffffff20;
  display: block;
  padding: 3px 0px 3px 0px;
}
.headline3 a:hover {
  background-color: var(--hovered-link-background-color);
  display: block;
}

.headline4 {
  border: solid 1px var(--accent-color);
  display: block;
}
.headline4 a {
  color: var(--accent-color);
  background-color: #ffffff20;
  display: block;
  padding: 3px 0px 3px 0px;
}
.headline4 a:hover {
  background-color: var(--hovered-link-background-color);
  display: block;
}

/* nav end */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* main start */

.mainContainer img {
  width: 400px;
}

main h1 {
  text-align: center;
}

main {
  width: max(1000px);
  margin: auto;
}

/* main end */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* chart start */

#chart {
  height: 275px;
}
