
/* nav start */
#logo {
    font-family: "danfo", sans-serif;
    font-size: 1.5rem;
    background-color: #ffffff4f;
    padding: 0px 3px 1px 3px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--text-color);
}

.navContainer {
    margin: 5px;
}

.headline1 {
    border: solid 1px var(--accent-color);
    display: block;
}
.headline1 a {
    color: var(--accent-color);
    background-color: #ffffff20;
    display: block;
    padding: 3px 0px 3px 0px;
}
.headline1 a:hover {
    background-color: var(--hovered-link-background-color);
    display: block;
}

.headline2 {
    border: solid 1px var(--accent-color);
    display: block;
}
.headline2 a {
    color: var(--accent-color);
    background-color: #ffffff20;
    display: block;
    padding: 3px 0px 3px 0px;
}
.headline2 a:hover {
    background-color: var(--hovered-link-background-color);
    display: block;
}

.headline3 {
    border: solid 1px var(--accent-color);
    display: block;
}
.headline3 a {
    color: var(--accent-color);
    background-color: #ffffff20;
    display: block;
    padding: 3px 0px 3px 0px;
}
.headline3 a:hover {
    background-color: var(--hovered-link-background-color);
    display: block;
}

/* nav end */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* main start */

.mainContainer img {
    width: 400px;
}

main {
    width: max(1000px);
    margin: auto;
}

main h1 {
    text-align: center;
}

/* main end */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* footer start */

footer {
    background-color: #ffffff4f;
    text-align: center;
    padding-bottom: 1rem;
}

.legal {
    padding-top: 1rem;
}

.disclaimer {
    padding-top: 1rem;
}
.disclaimer h4 {
    margin-top: 0;
}

.disclaimer a{
    color: var(--accent-color);
    border: solid 1px var(--accent-color);
    background-color: #ffffff20;
    display: block;
    padding: 3px 0px 3px 0px;
    width:100px;
    margin: auto;
}
.disclaimer a:hover{
    background-color: var(--hovered-link-background-color);;
}

/* footer end */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* chart start */

#chart {
    height: 275px;
}
