.navContainer {
    display: grid;
    grid-template-columns: min-content 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5px;
    grid-auto-flow: row;
    grid-template-areas: "logo space1 headline1 headline2 headline3 space2";
    align-items: center;
    text-align: center;
}

.logo {
    grid-area: logo;
}

.space1 {
    grid-area: space1;
}

.headline1 {
    grid-area: headline1;
}

.headline2 {
    grid-area: headline2;
}

.headline3 {
    grid-area: headline3;
}

.space2 {
    grid-area: space2;
}
