:root {
    --background-color: #16263a;
    --hovered-link-background-color: #ffffff40;
    --text-color: #ffffff;
    --accent-color: #f5b323;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    inset: 0;
    margin: 0;
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
}

#title{
    font-family: 'danfo', sans-serif;
    background-color: #ffffff4f;
    padding: 0px 3px 1px 3px;
    border-radius: 5px;
}

.accent {
    color: var(--accent-color);
}

.navContainer {
    margin: 5px;
}

.headline1 {
    border: solid 1px red;
    display: block;
}
.headline1 a {
    color: var(--accent-color);
    display: block;
}
.headline1 a:hover {
    background-color: var(--hovered-link-background-color);
    display: block;
}

.headline2 {
    border: solid 1px red;
    display: block;
}
.headline2 a {
    color: var(--accent-color);
    display: block;
}
.headline2 a:hover {
    background-color: var(--hovered-link-background-color);
    display: block;
}

.headline3 {
    border: solid 1px red;
    display: block;
}
.headline3 a {
    color: var(--accent-color);
    display: block;
}
.headline3 a:hover {
    background-color: var(--hovered-link-background-color);
    display: block;
}

.mainContainer img{
    width:400px;
}